* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    background-color: #2331AD;
    padding: 25px;
    text-align: center;
}

nav{
    background-color: #31387A;
    padding: 25px;
}

main{
    background-color: #292A33;
    width: 100%;
    padding: 25px;
    /*height: 800px;*/
    /*overflow:auto;*/

}

aside{
    background-color: #2B2E47;
    width: 100%;
    padding: 25px;
    /*height: 800px;*/
}

footer{
    background-color: #31387A;
    height: 100px;
    padding: 25px;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
}

nav a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #479dff;
    display: block;
    padding: 15px;
    text-decoration: none;
}

nav a:hover{
    color: #DDD;
    background-color: #222;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFF;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav li{
    width: 100%;
    text-align: center;
}

@media (min-width:574px){
    main{
        width: 70%;
    }

    aside{
        width: 30%;
    }

    nav li{
        width: 25%;
    }
}
